nav#navigation
  ul
    li
      a(href='/country/china') China
    li
      a(href='/country/japan') Japan
    li
      a(href='/country/malaysia') Malaysia
    li
      a(href='/country/singapore') Singapore
    li
      a(href='/country/south_korea') South Korea
    li
      a(href='/country/thailand') Thailand
