nav#navigation
  ul
    li
      a(href='/china') China
    li
      a(href='/japan') Japan
    li
      a(href='/malaysia') Malaysia
    li
      a(href='/singapore') Singapore
    li
      a(href='/south-korea') South Korea
    li
      a(href='/thailand') Thailand
