doctype html
head
  title Travelbriefing
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./stylesheets/style.css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
include components/header.pug
// Country Menu
main.countrymenu.grid
  // First Photo Grid
  section.col
    a.countryname(href='/country/china')
      img.img_wrap(src='images/china.jpg' alt='China')
      h2 China
  section.col
    a.countryname(href='/country/japan')
      img.img_wrap(src='images/japan.jpg' alt='Japan')
      h2 Japan
  section.col
    a.countryname(href='/country/malaysia')
      img.img_wrap(src='images/malaysia.jpg' alt='Malaysia')
      h2 Malaysia
  // Second Photo Grid
  section.col
    a.countryname(href='/country/singapore')
      img.img_wrap(src='images/singapore.jpg' alt='Singapore')
      h2 Singapore
  section.col
    a.countryname(href='/country/south_korea')
      img.img_wrap(src='images/south_korea.jpg' alt='South Korea')
      h2 South Korea
  section.col
    a.countryname(href='/country/thailand')
      img.img_wrap(src='images/thailand.jpg' alt='Thailand')
      h2 Thailand
